<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foodiez</title>
  </head>
  <body>
    {{!-- Remember that anything written here, will be displayed for all pages --}}
    <h1><a href="/">Foodiez</a></h1>
    {{{ body }}}
  </body>
</html>
