<h2>Search restaurants</h2>

{{!-- NO NEED FORM HERE, cos we're not actually submitting through a form --}}
<label for="searchInput">Search: </label>
<input id="searchInput" type="text">

<h3>Search Results</h3>
<div class="row" id="searchResults">

</div>
