{{!-- Update 20 Oct, new admin LOGIN page --}}
<h3>Admin Login</h3>

{{!-- FORM TO CREATE NEW RESTAURANT, NOTICE THERE'S NO ID THERE --}}

{{!-- if i go to /register, it will save new user instead --}}
<form action="/admin/login" method="post">
  {{!-- no need name here, cos we're logging in --}}

  <label for="email">Email</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="email" name="admin[email]" placeholder="e.g. domain@email.com">

  <label for="password">Password</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="password" name="admin[password]" placeholder="ur password dumbass">
  
  <button type="submit" name="button">Submit</button>
</form>
