{{!-- Updates 24 Oct, adjust form structure like boostrap 4 --}}
{{!-- <h3>Login</h3> --}}

{{!-- if i go to /register, it will save new user instead --}}
<form action="/login" method="post">
  <div class="form-group">
    <label for="user[email]">Email address</label>
    <input type="email" class="form-control" id="user[email]" placeholder="e.g. domain@email.com">
  </div>

  
  {{!-- no need name here, cos we're logging in --}}

  <label for="email">Email</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="email" name="user[email]" placeholder="e.g. domain@email.com">

  <label for="password">Password</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="password" name="user[password]" placeholder="ur password dumbass">

  <button type="submit" name="button">Submit</button>
</form>
