<h3>Registration</h3>

{{!-- FORM TO CREATE NEW RESTAURANT, NOTICE THERE'S NO ID THERE --}}
<form action="/register" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="e.g. John Doe">

  <label for="email">Email</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="email" name="email" placeholder="e.g. domain@email.com">

  <label for="password">Password</label>
  {{!-- NOTICE on the attribute type below  --}}
  <input type="password" name="password" placeholder="min. 8 characters">

  <button type="submit" name="button">Submit</button>
</form>
