<h3>New Restaurant</h3>

{{!-- FORM TO CREATE NEW RESTAURANT, NOTICE THERE'S NO ID THERE --}}
<form action="/restaurants" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="e.g. Llao llao">
  {{!-- we put nothing inside value cos there's nothing to show --}}
  {{!-- but we can put placeholder to help our users tho --}}

  <label for="cuisine">Cuisine</label>
  <input type="text" name="cuisine" placeholder="e.g. Artisanal Teh Peng">

  <button type="submit" name="button">Submit</button>
</form>
